.guilabel { 
  font-weight: bold; 
  border: 1px solid #ddd; 
  background: #eee;
  color: #08C;
  padding-left: 3px;
  padding-right: 3px;
}

.menuselection { 
  font-weight: bold; 
  border: 1px dashed #ddd; 
  background: #eee;
  color: #E44A00;
  padding-left: 3px;
  padding-right: 3px;
}

.kbd {
  font-weight: bold; 
  border: 1px solid #ddd; 
  background: #eee;
  color: #E22;
  padding-left: 3px;
  padding-right: 3px;
}

/* Suppress anchor markers */
.headerlink { display: none;}

.admonition-title { 
  font-size: larger;
  display: block;
  border-bottom: 1px #ddd solid;
  margin-left: 38px;
}
.admonition {
  background-image: url("img/note.png");
  background-position: 22px 15px;
  background-repeat: no-repeat;
}
